<div class="d-flex gap-2 mb-2">
  <select name="grado" id="grado" class="form-select form-select-sm">
    <option value="4">CUARTO</option>
    <option value="5">QUINTO</option>
    <option value="6">SEXTO</option>
  </select>
  <select name="paralelo" id="paralelo" class="form-select form-select-sm" style="width: min-content">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
  </select>
</div>

<select name="especialidad" id="especialidad" class="form-select form-select-sm">
  <option value="1">SISTEMAS INFORMÁTICOS</option>
  <option value="2">CONSTRUCCIÓN CIVIL</option>
  <option value="3">CONTADURÍA GENERAL</option>
  <option value="4">ELECTRÓNICA</option>
  <option value="5">GASTRONOMÍA</option>
  <option value="6">MECÁNICA AUTOMOTRIZ</option>
  <option value="7">TEXTILES Y CONFECCIONES</option>
</select>

<ul class="list-group list-group-flush mt-2">
  <li class="list-group-item list-group-item-action px-1 py-1">
    <a href="/registro/centralizador/curso/9" id="centralizador"
       class="link-dark link-underline-light d-block">Centralizador</a>
  </li>
  <li class="list-group-item list-group-item-action px-1 py-1">
    <a href="/registro/curso/9/filiacion" id="filiacion"
       class="link-dark link-underline-light d-block">Filiacion</a>
  </li>
  <li class="list-group-item list-group-item-action px-1 py-1">
    <a href="#" id="documentos"
       class="link-dark link-underline-light d-block">
      Documentos
    </a>
  </li>
</ul>
